@model TableViewModel<ChampionViewModel>

<div id="tablePartial">
    <div>
        <table class="table tablesorter">
            <thead class="text-primary">
                <tr>
                    <th>
                        Champion
                    </th>
                    <th>
                        Image
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var champion in Model.Items)
                {
                    <tr>
                        <td>@champion.Name</td>
                        <td>
                            <img src="@champion.ImageURL" class="center" style="height:5em;width:auto">
                        </td>
                        <td>
                            <div class="dark-theme">
                                <a class="page-link" asp-area="Statistics" asp-controller="Champion" asp-action="Details" asp-route-id="@champion.Id">Details</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    @await Html.PartialAsync("_PaginationPartial", Model.Pagination)
</div>