
@model IEnumerable<ChampionViewModel>
@{
    ViewData["Title"] = "Index";
}


<div class="table-responsive">
    <table class="table tablesorter " id="">
        <thead class=" text-primary">
            <tr>
                <th>
                    Champion
                </th>
                <th>
                    Image
                </th>
                <th>
                    Details
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var champion in Model)
            {
                <tr>
                    <td>@champion.Name</td>
                    <td>
                        <img src="@champion.ImageURL" alt="" class="center" height="60" width="60">
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@champion.Id" class="btn btn-fill">Details</a>
                    </td>

                </tr>
            };
        </tbody>
    </table>
</div>
