@using ESportStatistics.Web.Areas.Statistics.Models.Tournaments

@model TableViewModel<TournamentViewModel>

<div id="tablePartial">
    <div>
        <table class="table tablesorter">
            <thead class="text-primary">
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Slug
                    </th>
                    <th>
                        Begins At
                    </th>
                    <th>
                        Ends At
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var tournament in Model.Items)
                {
                    <tr>
                        <td>@tournament.Name</td>
                        <td>@tournament.Slug</td>
                        <td>@tournament.BeginAt</td>
                        <td>@tournament.EndAt</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    @await Html.PartialAsync("_PaginationPartial", Model.Pagination)
</div>
