@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<br />
<h4>
    This project is created for <b>educational purposes</b> and is all about providing statistics for eSport games such as "League of Legends" , "Dota2" and "Overwatch".
</h4>

<h4>
    It contains core information about the game itself as well as data for professional competition such as:
</h4>
<ul>
    <li>Playable characters , Rules , Maps , Items , etc.</li>
    <li>Currenly active pro players</li>
    <li>Currenly played team matches</li>
    <li>Active Leagues</li>
    <li>Active Tournaments</li>
    <li>Active Series</li>
</ul>

<h3>
    Contributors:
</h3>

<div class="content">
    <div class="row">
        <div class="col-lg-4">
            <div class="card card-user">
                <div class="card-body">
                    <p class="card-text">
                        <div class="author">
                            <div class="block block-one"></div>
                            <div class="block block-two"></div>
                            <div class="block block-three"></div>
                            <div class="block block-four"></div>
                            <a href="https://gitlab.com/AleksanderPeychev">
                                <img class="avatar" src="~/images/aleks-avatar.jpg" alt="...">
                                <h5 class="title">Aleksander Peychev</h5>
                            </a>
                        </div>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card card-user">
                <div class="card-body">
                    <p class="card-text">
                        <div class="author">
                            <div class="block block-one"></div>
                            <div class="block block-two"></div>
                            <div class="block block-three"></div>
                            <div class="block block-four"></div>
                            <a href="https://gitlab.com/mastergog1">
                                <img class="avatar" src="~/images/georgi-avatar.png" alt="...">
                                <h5 class="title" >Georgi Zlatareff</h5>
                            </a>
                        </div>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card card-user">
                <div class="card-body">
                    <p class="card-text">
                        <div class="author">
                            <div class="block block-one"></div>
                            <div class="block block-two"></div>
                            <div class="block block-three"></div>
                            <div class="block block-four"></div>
                            <a href="https://gitlab.com/stoychev92">
                                <img class="avatar" src="~/images/stoichev-avatar.jpg" alt="...">
                                <h5 class="title">Alexander Stoychev</h5>
                            </a>
                        </div>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>