<div class="row">
    <div class="col-lg-4">
        <figure class="snip1573">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample89.jpg" alt="sample89" />
            <figcaption href="#21321">
                <h3>Buy Now</h3>
            </figcaption>
            <a href="#"></a>
        </figure>
    </div>
    <div class="col-lg-4">
        <figure class="snip1573">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample94.jpg" alt="sample94" />
            <figcaption>
                <h3>Read More</h3>
            </figcaption>
            <a href="#"></a>
        </figure>
    </div>
    <div class="col-lg-4">
        <figure class="snip1573">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample92.jpg" alt="sample92" />
            <figcaption>
                <h3>Join Us</h3>
            </figcaption>
            <a href="#"></a>
        </figure>
    </div>
</div>