<div class="row">
    <div class="col-lg-4">
        <figure class="snip1573">
            <img src="~/images/stats/Cosmetic_icon_Great_Sage's_Reckoning_Loading_Screen.png" alt="champions" />
            <figcaption href="#21321">
                <h3>Champions</h3>
            </figcaption>
            <a asp-area="Statistics" asp-controller="Champion" asp-action="Index"></a>
        </figure>
    </div>
    <div class="col-lg-4">
        <figure class="snip1573">
            <img src="~/images/stats/kunkka_bestowments_screen.jpg" alt="items" />
            <figcaption>
                <h3>Items</h3>
            </figcaption>
            <a asp-area="Statistics" asp-controller="Item" asp-action="Index"></a>
        </figure>
    </div>
    <div class="col-lg-4">
        <figure class="snip1573">
            <img src="~/images/stats/Cosmetic_icon_Roshan's_Rage_Loading_Screen.png" alt="spells" />
            <figcaption>
                <h3>Spells</h3>
            </figcaption>
            <a asp-area="Statistics" asp-controller="Spell" asp-action="Index"></a>
        </figure>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <figure class="snip1573">
            <img src="~/images/stats/Dota 6.70.jpg" alt="teams" />
            <figcaption href="#21321">
                <h3>Teams</h3>
            </figcaption>
            <a asp-area="Statistics" asp-controller="Team" asp-action="Index"></a>
        </figure>
    </div>
    <div class="col-lg-4">
        <figure class="snip1573">
            <img src="~/images/stats/b616b29567637b8848c2b74063a2bd5d.jpg" alt="players" />
            <figcaption>
                <h3>Players</h3>
            </figcaption>
            <a asp-area="Statistics" asp-controller="Player" asp-action="Index"></a>
        </figure>
    </div>
    <div class="col-lg-4">
        <figure class="snip1573">
            <img src="~/images/stats/league_of_legends_arcade_loading_screen.png" alt="tournaments" />
            <figcaption>
                <h3>Tournaments</h3>
            </figcaption>
            <a asp-area="Statistics" asp-controller="Tournament" asp-action="Index"></a>
        </figure>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <figure class="snip1573">
            <img src="~/images/stats/star-guardian-ezreal-1015201.jpg" alt="leagues" />
            <figcaption href="#21321">
                <h3>Leagues</h3>
            </figcaption>
            <a asp-area="Statistics" asp-controller="League" asp-action="Index"></a>
        </figure>
    </div>
    <div class="col-lg-4">
        <figure class="snip1573">
            <img src="~/images/stats/image1123.jpg" alt="series" />
            <figcaption>
                <h3>Series</h3>
            </figcaption>
            <a asp-area="Statistics" asp-controller="Serie" asp-action="Index"></a>
        </figure>
    </div>
    <div class="col-lg-4">
        <figure class="snip1573">
            <img src="~/images/stats/tumblr_nlvx8jrsqg1qgrdiqo1_500.png" alt="matches" />
            <figcaption>
                <h3>Matches</h3>
            </figcaption>
            <a asp-area="Statistics" asp-controller="Match" asp-action="Index"></a>
        </figure>
    </div>
</div>
<div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
        <figure class="snip1573">
            <img src="~/images/stats/Victorious-Orianna-Skin-LoL-2.jpg" alt="masteries" />
            <figcaption href="#21321">
                <h3>Masteries</h3>
            </figcaption>
            <a asp-area="Statistics" asp-controller="Mastery" asp-action="Index"></a>
        </figure>
    </div>
</div>
