@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}
<div style="text-align: center">
    <h1>Internal Server Error!</h1>
    <h2>We are very sorry, something went wrong.</h2>
    <h2>A team of highly trained trolls has been dispatched to deal with this situation.</h2>
    
</div>

