<footer class="footer">
    <div class="container-fluid">
        <ul class="nav">
            <li class="nav-item">
                <a asp-area="" asp-controller="Home" asp-action="About" class="nav-link">
                    About Us
                </a>
            </li>
        </ul>
        <div class="copyright">
            ©
            <script>
                document.write(new Date().getFullYear())
            </script> made for educational purposes <i class="tim-icons icon-atom"></i> by
            <a href="javascript:void(0)" target="_blank">Tazdingo Mon</a>.
        </div>
    </div>
</footer>