<!DOCTYPE html>
<html lang="en">
@await Html.PartialAsync("_HeadPartial")
<body class="" data-color="blue">
    <div class="wrapper">
        @await Html.PartialAsync("_NavigationLeftPartial")
        <div class="main-panel">
            @await Html.PartialAsync("_NavigationTopPartial")
            <div class="content">
                @RenderBody()
            </div>
            @await Html.PartialAsync("_FooterPartial")
        </div>
    </div>
    @RenderSection("Scripts",required: false)
    @await Html.PartialAsync("_PluginPartial")
    @await Html.PartialAsync("_ScriptsPartial")
</body>
</html>