@if (User.Identity.IsAuthenticated)
{
    <li>
        <a asp-area="Identity" asp-controller="Manage" asp-action="Index" title="Manage"><i class="fa fa-user fa-fw"></i>Profile</a>
    </li>
    <li>
        <form asp-area="Identity" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="custom-form-button">
            <a id="submit_link"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
        </form>
        
    </li>
}
else
{
    <li>
        <a asp-area="Identity" asp-controller="Account" asp-action="Register"><i class="fa fa-signing fa-fw"></i> Register</a>
    </li>
    <li>
        <a asp-area="Identity" asp-controller="Account" asp-action="Login"><i class="fa fa-sign-in fa-fw"></i> Login</a>
    </li>
}

