<div class="sidebar">
    <div class="sidebar-wrapper">
        <div class="logo">
            <a href="javascript:void(0)" class="simple-text logo-mini">
                ESS
            </a>
            <a href="javascript:void(0)" class="simple-text logo-normal">
                Tazdingo Mon
            </a>
        </div>
        <ul class="nav">
            <li class="active">
                <a asp-area="" asp-controller="Home" asp-action="Index">
                    <i class="tim-icons icon-bank"></i>
                    <p>Home</p>
                </a>
            </li>
            <li>
                <a asp-area="" asp-controller="Home" asp-action="About">
                    <i class="tim-icons icon-badge"></i>
                    <p>About us</p>
                </a>
            </li>
            <li class="dropdown nav-item">
                @await Html.PartialAsync("_StatisticsPartial")
            </li>
        </ul>
    </div>
</div>