<a href="#" class="dropdown-danger" data-toggle="dropdown">
        Statistics
    

    <b class="caret d-none d-lg-block d-xl-block">

    </b>

</a>

<ul class="dropdown-menu dropdown-black">
    <li>
        <a asp-area="" asp-controller="Champions" asp-action="Index"><i class="fa fa-arrow-circle-o-right fa-fw"></i> Champions</a>
    </li>
    <li>
        <a>Items</a>
    </li>
    <li>
        <a>Leagues</a>
    </li>
</ul>