@model TableViewModel<MasteryViewModel>

<div id="tablePartial">
    <div>
        <table class="table tablesorter">
            <thead class="text-primary">
                <tr>
                    <th>
                        Mastery
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var mastery in Model.Items)
                {
                    <tr>
                        <td>@mastery.Name</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    @await Html.PartialAsync("_PaginationPartial", Model.Pagination)
</div>