
@model IEnumerable<MasteryViewModel>
@{
    ViewData["Title"] = "Index";
}


<div class="table-responsive">
    <table class="table tablesorter " id="">
        <thead class=" text-primary">
            <tr>
                <th>
                    Mastery Name
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var mastery in Model)
            {
                <tr>
                    <td>@mastery.Name</td>
                </tr>
            }
        </tbody>
    </table>
</div>
