@model TableViewModel<UserTableViewModel>

<div id="tablePartial">
    <div>
        <table class="table tablesorter">
            <thead class="text-primary">
                <tr>
                    <th>
                        User name
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Phone Number
                    </th>
                    <th>
                        Is Active
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model.Items)
                {
                    <tr id="@user.Id">
                        @await  Html.PartialAsync("_UserTableRowPartial",user)
                    </tr>
                }
            </tbody>
        </table>
    </div>
    @await Html.PartialAsync("_PaginationPartial", Model.Pagination)
</div>
