@model TableViewModel<UserViewModel>

<div id="tablePartial">
    <div>
        <table class="table tablesorter">
            <thead class="text-primary">
                <tr>
                    <th>
                        User name
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Phone Number
                    </th>
                    <th>
                        Is Active
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model.Items)
                {
                    <tr>
                        <td>@user.Username</td>
                        <td>@user.Email</td>
                        <td>@user.PhoneNumber</td>
                        <td>@(!user.IsDeleted)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    @await Html.PartialAsync("_PaginationPartial", Model.Pagination)
</div>
