
@model IEnumerable<LeagueViewModel>
@{
    ViewData["Title"] = "Index";
}


<div class="table-responsive">
    <table class="table tablesorter " id="">
        <thead class=" text-primary">
            <tr>
                <th>
                    League Name
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var league in Model)
            {
                <tr>
                    <td>@league.Name</td>
                </tr>
            }
        </tbody>
    </table>
</div>
